* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container, .container-sm {
    margin: 0 auto;
}

.container {
    max-width: 1024px;
}

.container-sm {
    max-width: 820px;
}

button {
    border: none;
    border-radius: 8px;
    font-weight: 900;
    padding: 8px 32px;
}

header {
    background-color: #1f2937;
}

nav>.logo, .hero-text>h1 {
    color: #f9faf8;
    font-weight: 900;
}

nav>ul>li>a, .hero-text>p, .hero-text>button, .cta-text>p {
    color: #e5e7eb
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

nav>.logo {
    font-size: 24px;
}

nav>ul {
    display: flex;
    gap: 26px;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
}

.hero-section {
    display: flex;
    gap: 64px;
    padding: 120px 0;
}

.hero-text {
    flex: 1;
}
/* 
.hero-text>h1 {
    font-size: 48px;
} */

.hero-text>p {
    max-width: 400px;
    margin-bottom: 18px;
}

.hero-text>button {
    background-color: #3882f6;
}

.hero-image {
    flex: 1;
    background: url('img/hero-image.jpg');
    background-position: center;
    background-size: cover;
}

#info {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 124px;
}

#info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 55px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 168px;
}

.card-image {
    width: 168px;
    height: 168px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#image-one {
    background-image: url('img/1.jpg');
}

#image-two {
    background-image: url('img/2.jpg');
}

#image-three {
    background-image: url('img/3.jpg');
}

#image-fourth {
    background-image: url('img/4.jpg');
}

#quote {
    background-color: #e5e7eb;
    padding-top: 138px;
    padding-bottom: 108px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 12px;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    float: right;
}

#cta {
    padding: 100px 0;
    color: #fff;
}

.cta {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    justify-content: space-between;
    padding: 54px 122px;
    border-radius: 10px;
}

.cta-text>h3 {
    font-size: 24px;
}

.cta button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

footer {
    background: #1f2937;
    padding: 44px;
    text-align: center;
    color: #fff;
}